<div class="container mt-5">
  <div class="row align-items-center justify-content-center">
    <h1 class="text-center mt-5 mb-5">面談予約サイトへようこそ<h1>
    <p class="text-center small"> このサイトで運営との面談予約をセッティングできます。</p>
    <h3 class="text-center">以下のボタンから面談予約を開始してください!</h3>
    <div class="d-grid gap-2 col-6 mx-auto mt-5">
      <button type="button" class="btn btn-success btn-lg">予約を開始する</button>
    </div>
  </div>
</div>

