// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

$skinLogo: url("mitai_for_active_admin.png") no-repeat 30% 50% ;
$skinActiveColor: #f5a100;
$skinHeaderBck: #2f2e2e;
$panelHeaderBck: #2f2e2e;
@import "active_skin";

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

table.index_table td, .attributes_table table th, .attributes_table table td, table.index_table td a, table.index_table td a:link, table.index_table td a:visited {
  color: #252525;
  font-size: 12px;
}

.attributes_table table td .empty {
  color: red;
  font-size: 12px;
  font-weight: bold;
}

.attributes_table table th {
  font-weight: bold;
}

.panel > h3 {
  font-size: 15px;
  margin-top: 0;
}

// MEMO: active_adminのフォーム側にHTML属性を持たせたかったが方法が見つからず以下の方法モデルごとに指定
form input[id*="reservation"],form select[id*="reservation"], form input[id*="interview"], form select[id*="interview"], form input[id*="member"], form select[id*="member"] {
  padding: 5px 10px;
  width: calc(50% - 22px);
  border: 1px solid #c9d0d6;
}

#header #utility_nav {
  background-color: #ecf0f1;
}
